<div class="navbar navbar-expand-sm navbar-light navbar-lewagon bg-danger rounded" data-controller="navbar">
  <div class="container-fluid">
    <%= link_to cars_path, class: "navbar-brand font-family-monospace" do %>
      <%= image_tag "https://clipart-library.com/img/1827738.jpg", class: "rounded" %>
      <span class="d-none d-sm-inline logo-text text-white">The Car-tel</span>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
            <%= link_to "Home", cars_path, class: "nav-link text-white" %>
          </li>
          <li class="nav-item">
            <%= link_to "Messages", chatrooms_path, class: "nav-link text-white" %>
          </li>
          <li class="nav-item" data-navbar-target="myBookings">
            <%= link_to "My Bookings", bookings_path, class: "nav-link" %>
          </li>
          <li class="nav-item d-none" data-navbar-target="myGarage">
            <%= link_to "My Garage", garage_path, class: "nav-link text-white" %>
          </li>
          <li class="nav-item dropdown">
            <% if user_signed_in? %>
              <li class="nav-item dropdown">
                <% if current_user.photo.attached?  %>
                  <a class="nav-link" href="#" data-bs-toggle="dropdown"><%= cl_image_tag current_user.photo.key, class: "avatar dropdown-toggle", height: 35, width: 35, crop: :fill %></a>
                <% else %>
                  <a class="nav-link" href="#" data-bs-toggle="dropdown"> <img src="https://images.nightcafe.studio//assets/profile.png?tr=w-640,c-at_max" alt="Image not found" class= "avatar dropdown-toggle"></a>
                <% end %>
                <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                  <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
                  <button
                    class="dropdown-item"
                    data-action="click->navbar#enableOwnerMode"
                    data-navbar-target="renterLinkText">
                    Switch to Owner Mode
                  </button>
                  <button
                    class="dropdown-item d-none"
                    data-action="click->navbar#disableOwnerMode"
                    data-navbar-target="ownerLinkText">
                    Switch to Renter Mode
                  </button>
                </div>
              </li>
            <% end %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
