  <div id="infomartion-line" class='container'>
    <div id="car-info" class='row border-bottom border-black border-5'>

      <h4 class='col-6 p-2'> <%= "#{car.brand}| #{car.model} | #{car.year}" %> </h4>
      <h4 class='col-6 ms-auto p-2'>
        <%= "⭐️ #{Car.review_avarage(car)}" %>
        <%= link_to "#{car.reviews.length} Reviews", car_reviews_path(car) %>
      </h4>

    </div>

    <div class='row'>

      <div id="car-picture" class='mt-2 col-6'>
        <%= render 'cars/carousel' %>
      </div>

      <div data-controller="edit-form" class='col-6' id="booking">
        <button data-action='click->edit-form#fire' class='m-4 btn btn-primary'>Available dates</button>
        <div class="d-none m-4 p-2" data-edit-form-target="dropElement">

          <%= simple_form_for(@booking, url: car_bookings_path(@car), method: :post) do |f| %>
            <% if current_user %>
              <%= f.input :user_id, as: :hidden, input_html: {value: current_user.id} %>
            <% end %>
            <%= f.input :car_id, as: :hidden, input_html: {value: @car.id} %>
            <%= f.input :date_from, as: :string, input_html: {data: {edit_form_target: 'calendarFrom'} } %>
            <%= f.input :date_until, as: :string, input_html: {data: {edit_form_target: 'calendarUntil'} } %>
            <% if current_user %>
              <%= f.button :submit, class: "btn btn-success mb-2" %>
            <% else %>
              <p>Please sign in to book this car</p>
            <% end %>
          <% end %>
        </div>
      </div>
          <% unless @booking.errors[:base].empty? %>
            <p><%= @booking.errors[:base].first%></p>
          <% end %>
    </div>
  </div>
</div>
