<span>Pictures come here</span>
<div class="container justify-content-center">
    <%= render "cars/car_info", car: @car %>
</div>



<div class="container">
  <div class="row my-6">

    <% @car.reviews.each do |review| %>
      <div class="col-12 col-md-4">
        <div class="card m-1 bg-light">
          <%= review.description %>
          <span>Rating: <%=review.rating %></span>
        </div>
      </div>
    <% end %>
  </div>

  <%= link_to 'Back to all cars', cars_path %> |
    <%= link_to 'Add a review', new_car_review_path(@car) %> |
  <%= link_to "Edit #{@car.title}", edit_car_path(@car) %>

</div>
